= bootstrap_tabs do |t|
  = t.tab "Title", :id => "bla", :active => true do
    Hallo Welt
    Und so weiter
  = t.tab "Another Title", :id => "blubb" do
    = link_to posts_url
    Noch einer
  = t.tab "Noch einer ohne id" do
    jajaja
  = t.tab "External", :url => "/bla"
