<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= bootstrap_topbar do %>
    <div class="container-fluid">
      <ul class="nav">
        <li><%= link_to "Startseite", root_path %></li>
      </ul>
    </div>
  <% end %>

  <div class='container-fluid'>
    <%= render "bootstrap/flash_messages" %>
    
    <%= render "examples/tabs" %>
    <%= render "examples/modal" %>
    <%= yield %>
  </div>

</body>
</html>
